/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
    color:blue; 
     background-color:black;
     text-align:center;
     margin: 50px 0px 50px 0px;
     padding: 50px 50px 50px 50px;
     border-style:groove;
     border-width:25px;
     border-color: #0000cc;
}
ul{
    list-style-type:none;
}
body{
    background-image:url("http://cdn.mysitemyway.com/etc-mysitemyway/backgrounds/legacy-previews/backgrounds/nightlights/nightlights-000849-ultramarine-blue.jpg");
background-repeat: no-repeat;
background-size: cover;
}
li{
    font-size:xx-large;
    color:orange;
}
.text-input{
    color:red;
}
.button{
    color:purple;
}
input{
    box-shadow:10px 5px 10px black;
    display:inline;
}