/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html,body{
    height:100%;
}
.indexheader{
    color:blue; 
     background-color:black;
     text-align:center;
     margin: 50px 0px 50px 0px;
     padding: 50px 50px 50px 50px;
     border-style:groove;
     border-width:25px;
     border-color: #0000cc;
}
ul{
    list-style-type:none;
    display:inline;
}
.index{
    background-image:url("http://cdn.mysitemyway.com/etc-mysitemyway/backgrounds/legacy-previews/backgrounds/nightlights/nightlights-000849-ultramarine-blue.jpg");
background-repeat: no-repeat;
height:100%;
}
.indexli{
    font-size:xx-large;
    color:orange;
}
.text-input{
    color:red;
}
.button{
    color:purple;
}
input{
    box-shadow:10px 5px 10px black;
    display:inline;
}
.showli{
    color:#0000cc;
    font-size: xx-large;
    background-color:#000000;
    text-align: justify;
    margin: 20px 1000px 0px 30px;
    border-style:double;
    border-width: 15px;
    border-color: #0000cc;
    font-family: Helvetica;
    box-shadow: 10px 10px 15px black;
}
.show{
    background-image:url("https://ak6.picdn.net/shutterstock/videos/2361821/thumb/1.jpg?i10c=img.resize(height:160");
    background-size:cover;
}
.red{
    color:red !important;
    font-size:x-large;
}
.showops{
    font-size: x-large;
background-color:black;
color:blue;
border-style:inset;
border-color: grey;
 box-shadow:5px 5px 5px black;
 display:inline;
}
p{
    color:black;
    font-size:large;
    font-style: oblique;
    font-family: Arial;
}