/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html,body{
    height:100%;
    margin: 0px 0px 0px 0px;
}
.indexheader{
    color:blue; 
     background-color:black;
     text-align:center;
     margin: 0px 0px 50px 0px;
     padding: 50px 50px 50px 50px;
     border-style:groove;
     border-width:25px;
     border-color: #0000cc;
}
ul{
    list-style-type:none;
    display:inline;
}
.index{
    background-image:url("http://cdn.mysitemyway.com/etc-mysitemyway/backgrounds/legacy-previews/backgrounds/nightlights/nightlights-000849-ultramarine-blue.jpg");
background-repeat: no-repeat;
height:100%;
width:100%;
background-size:cover;
}
.indexli{
    font-size:xx-large;
    color:orange;
    margin-left: 70px;
    margin-top:10px;
}
.text-input{
    color:red;
    margin-left:50px;
}
.button{
    color:purple;
    margin-left: 50px;
}
input{
    box-shadow:10px 5px 10px black;
}
.showli{
    color:#0000cc;
    font-size: xx-large;
    background-color:#000000;
    text-align:center;
    border-style:double;
    border-width: 15px;
    border-color: #0000cc;
    font-family: Helvetica;
    box-shadow: 10px 10px 15px black;
    margin:0px 400px 0px 400px;
}
.show{
    background-image:url("https://ak6.picdn.net/shutterstock/videos/2361821/thumb/1.jpg?i10c=img.resize(height:160");
    height:100%;
    background-repeat:no-repeat;
    background-size:cover;
}
.red{
    color:red !important;
    font-size: xx-large;
    margin-left:70px;
}
.showops{
    font-size: x-large;
background-color:black;
color:blue;
border-style:inset;
border-color: grey;
 box-shadow:5px 5px 5px black;
 margin-left: 50px;
 display:inline;
}
p{
    color:black;
    font-size:large;
    font-style: oblique;
    font-family: Arial;
    text-indent:30px;
}
.delete{
    color:red;
    
}
.desc{
    margin-top:10px;
}
h1{
    margin:0px 0px 0px 0px;
    color:blue;
}
.card{
    background-image:url(http://media.istockphoto.com/photos/smooth-blue-background-picture-id538706551?k=6&m=538706551&s=612x612&w=0&h=fwSAawoGtABiByDjofXQRuOhXduXoOwQX5fp3hfdvSs=);
    height:100%;
    background-repeat: no-repeat;
    background-size:cover;
}
h2{
    margin-top:0px;
}
.back{
    color:orange;
    font-size: x-large;
    font-style:oblique;
    margin-left:25px;
    margin-top:10px;
}