    <div class="index">
     <div class="indexheader">  <h1>TO DO LIST</h1> </div> 
    <div id="new-todo-block">
    <br>
    </div>
    <ul class="card1" style="list-style:none">
        <% @todos.each do |todo| %>
            <div class=indexli><li>
                <input type="checkbox" name=""/>
                <a href="todo/show/<%=todo.id %>"><%=todo.description %>
                <span class="pomodoro-estimate small-pomodoro-estimate"><%=todo.pomodoro_estimate %> Pomodoros</span></a>
            </li>
        <% end %>
       
    </ul>    
    </div>
    <div id="new-todo-block">
        <a href="/todo/new" class="button add-new-todo-button" id="add-new-todo-button">Add a todo</a>
    </div>