<div class=headhead><h1>Todo#<%=params[:id] %></h1></div>
       <div class=show>
        <ul style="list-style:none">
          <div class="showli">  <li>
                <input type="checkbox">
              <%=@todo.description%> <%=@todo.pomodoro_estimate%>
            </li> </div></ul>
       <div class=showops> <a href="#">Edit</a>
        <a class="delete" href="#">Delete</a>
        <a href="index.html">Go Back</a></div>
        <br>
        <div><p>desc.</p></div>
        </div>