       <div class=show>
        <ul style="list-style:none">
          <div class="showli">  <li>
                <input type="checkbox">
              Lunch
            </li> </div></ul>
       <div class=showops> <a href="#">Edit</a>
        <a class="red" href="#">Delete</a>
        <a href="index.html">Go Back</a></div>
        <br>
        <div><p>desc.</p></div>
        </div>